<form (ngSubmit)="addContact()" [formGroup]="addContactForm">
	<div>
		<label for="firstName">First name:</label>
		<input type="firstName" formControlName="firstName">
	</div>
	<div>
		<label for="surname">Surname:</label>
		<input type="surname" formControlName="surname">
	</div>
	<div>
		<label for="email">E-mail address:</label>
		<input type="email" formControlName="email">
    <button>Add</button>
	</div>
</form>

<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail address</th>
        <th scope="col"></th>
    </tr>
    <tr scope="row" *ngFor="let contact of contacts">
        <td>{{contact.firstName}} {{contact.surname}}</td>
        <td>{{contact.email}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger" (click)="delete(contact)">Delete!</button>
            </div>
        </td>
    </tr>
</table>